apiVersion: batch/v1
kind: Job
metadata:
  name: {{ runner_name }}
  namespace: {{ runner_namespace }}
spec:
  template:
    metadata:
      labels:
        accountUuid: {{ account_uuid }}
        runnerUuid: {{ runner_uuid }}
        repositoryUuid: {{ repository_uuid }}
    spec:
      containers:
        - name: bitbucket-k8s-runner
          image: docker-public.packages.atlassian.com/sox/atlassian/bitbucket-pipelines-runner
          env:
            - name: ACCOUNT_UUID
              value: "{{ '{' + account_uuid + '}' }}"
            - name: RUNNER_UUID
              value: "{{ '{' + runner_uuid + '}' }}"
            - name: REPOSITORY_UUID
              value: "{{ '{' + repository_uuid + '}' }}"
            - name: OAUTH_CLIENT_ID
              valueFrom:
                secretKeyRef:
                  name: runner-oauth-credentials
                  key: oauthClientId
            - name: OAUTH_CLIENT_SECRET
              valueFrom:
                secretKeyRef:
                  name: runner-oauth-credentials
                  key: oauthClientSecret
            - name: WORKING_DIRECTORY
              value: "/tmp"
          volumeMounts:
            - name: tmp
              mountPath: /tmp
            - name: docker-containers
              mountPath: /var/lib/docker/containers
              readOnly: true
            - name: var-run
              mountPath: /var/run
        - name: docker-in-docker
          image: docker:20.10.7-dind
          securityContext:
            privileged: true
          volumeMounts:
            - name: tmp
              mountPath: /tmp
            - name: docker-containers
              mountPath: /var/lib/docker/containers
            - name: var-run
              mountPath: /var/run
      restartPolicy: OnFailure
      volumes:
        - name: tmp
        - name: docker-containers
        - name: var-run
  backoffLimit: 6
  completions: 1
  parallelism: 1
