apiVersion: v1
kind: Secret
metadata:
  name: runner-oauth-credentials
  namespace: {{ runner_namespace }}
  labels:
    accountUuid: {{ account_uuid }}
    runnerUuid: {{ runner_uuid }}
    repositoryUuid: {{ repository_uuid }}
data:
  oauthClientId: "{{ base64_oauth_client_id }}"
  oauthClientSecret: "{{ base64_oauth_client_secret }}"
